{% extends "base.html" %}
{% block "content"%}
	{% for pdb in object_list %}	
	<div class="pdb">
	<a href="{{pdb.pdb_url}}"><img src="{{pdb.img_url}}" class="pdb_image"></img></a>
	<p> {{ pdb.code }}</p> 
	<a href="{{pdb.doi}}">referenca</a>
	<div class="abstract">{{ pdb.abstract }}</div>
			<table class="ligands">
			{% for lig in pdb.ligands.all %}	
				<tr>
					<td><a href="/occupancy/ligand_pdbs/{{lig.code}}">{{ lig }}</a></td>
					<td>{{ lig.occupancy }}</td>
				</tr>
			{% endfor %}
			</table>
	</div>
	{% endfor %}
{% endblock %}
