<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PDBLIGANDS</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<style>
.pdb {clear:both; border: 1px solid red;overflow:hidden;}
.navigation {float:left;width:200px;background-color:#ddf;padding:10px;}
.content {float:left;width:80%;margin:10px;}
.abstract { width:60%;float:left; background-color:#df3; padding:10px;}
table.ligands { width:15%;margin:5px;}
table.ligand-table {width:80%; margin:auto;}
img.pdb_image { float:left;}
</style>
</head>
<body>
<div class="panel panel-default">
<div class="panel-body">
<p> The PDBs here satisfy the following criteria:<br>
<ul>
<li> Must be an enzyme: have an E.C. number!
<li> Must have at least one ligand with more than 5 atoms and all atoms of that ligand with occupancy less than one!
</ul>
</div>
<hr>
{% block "navigation"%}
	<div class="navigation">
	<ul>By pdb
	<li><a href='{% url "pdb_list"%}'>pdbs(no monomers)</a></li>
	<hr>
	<p>By ligand</p>
	<li><a href='{% url "ligand_list"%}'>ligands</a></li>
	<li><a href="/occupancy/ligand_types/">ligand types</a></li>
	<li><a href="/occupancy/ligand_types_new/">ligand types_new</a></li>
	<li><a href="/occupancy/ligand_counts/">ligand counts</a></li>
	<hr>
	<p>statistics</p>
	<li><a href="/occupancy/2index/">two word index</a></li>
	<li><a href="/occupancy/totals/">totals</a></li>
	<a class="btn btn-primary" href="/occupancy/interesting/">interesting</a>
	</ul>
	</div>
{% endblock %}
	<div class="form-inline pull-right">
		<form action="/occupancy/search/" method="get">
		  <div class="form-group">
			<label for="Search">Search abstracts</label>
			<input type="text" class="form-control" name="q" id="Search" placeholder="Enter">
		  </div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
{% block pagination %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
<div class="content">
{% block "content" %}{% endblock %}
</div>
</body>
</html>
